schemaVersion = 1

[hotkeys]
custom = []

    [hotkeys.app.activate]
    carbonKeyCode = {{ .tuna_activate_keycode }}
    carbonModifiers = {{ .tuna_activate_modifiers }}

    [hotkeys.app.leaderMode]
    carbonKeyCode = {{ .tuna_leader_keycode }}
    carbonModifiers = {{ .tuna_leader_modifiers }}

[[leaderMode.bindings]]
key = 'b'
url = 'tuna://run/TunaCore.AllApplicationsCatalog.Helium/Open'

[[leaderMode.bindings]]
key = 't'
url = 'tuna://run/TunaCore.AllApplicationsCatalog.Ghostty/Open'

[[leaderMode.bindings]]
key = 'e'
url = 'tuna://run/TunaCore.AllApplicationsCatalog.Emacs/Open'

[[leaderMode.bindings]]
iconPath = 'rectangle.grid.2x2'
key = 'w'
label = 'Aerospace'

    [[leaderMode.bindings.children]]
    key = '1'
    label = 'workspace 1'
    url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520workspace%25201/Run%20Text%20as%20Shell%20Command'

    [[leaderMode.bindings.children]]
    key = '2'
    label = 'workspace 2'
    url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520workspace%25202/Run%20Text%20as%20Shell%20Command'

    [[leaderMode.bindings.children]]
    key = '3'
    label = 'workspace 3'
    url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520workspace%25203/Run%20Text%20as%20Shell%20Command'

    [[leaderMode.bindings.children]]
    key = '4'
    label = 'workspace 4'
    url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520workspace%25204/Run%20Text%20as%20Shell%20Command'

    [[leaderMode.bindings.children]]
    key = '5'
    label = 'workspace 5'
    url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520workspace%25205/Run%20Text%20as%20Shell%20Command'

    [[leaderMode.bindings.children]]
    key = '6'
    label = 'workspace 6'
    url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520workspace%25206/Run%20Text%20as%20Shell%20Command'

    [[leaderMode.bindings.children]]
    key = '7'
    label = 'workspace 7'
    url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520workspace%25207/Run%20Text%20as%20Shell%20Command'

    [[leaderMode.bindings.children]]
    key = '8'
    label = 'workspace 8'
    url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520workspace%25208/Run%20Text%20as%20Shell%20Command'

    [[leaderMode.bindings.children]]
    key = 'c'
    label = 'workspace C'
    url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520workspace%2520C/Run%20Text%20as%20Shell%20Command'

    [[leaderMode.bindings.children]]
    key = 'm'
    label = 'workspace M'
    url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520workspace%2520M/Run%20Text%20as%20Shell%20Command'

    [[leaderMode.bindings.children]]
    key = 'p'
    label = 'Personal workspaces'

        [[leaderMode.bindings.children.children]]
        key = '1'
        label = 'workspace P1'
        url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520workspace%2520P1/Run%20Text%20as%20Shell%20Command'

        [[leaderMode.bindings.children.children]]
        key = '2'
        label = 'workspace P2'
        url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520workspace%2520P2/Run%20Text%20as%20Shell%20Command'

        [[leaderMode.bindings.children.children]]
        key = '3'
        label = 'workspace P3'
        url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520workspace%2520P3/Run%20Text%20as%20Shell%20Command'

        [[leaderMode.bindings.children.children]]
        key = '4'
        label = 'workspace P4'
        url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520workspace%2520P4/Run%20Text%20as%20Shell%20Command'

    [[leaderMode.bindings.children]]
    key = 'n'
    label = 'Move node to...'

        [[leaderMode.bindings.children.children]]
        key = '1'
        label = 'workspace 1'
        url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520move-node-to-workspace%25201%2520--focus-follows-window/Run%20Text%20as%20Shell%20Command'

        [[leaderMode.bindings.children.children]]
        key = '2'
        label = 'workspace 2'
        url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520move-node-to-workspace%25202%2520--focus-follows-window/Run%20Text%20as%20Shell%20Command'

        [[leaderMode.bindings.children.children]]
        key = '3'
        label = 'workspace 3'
        url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520move-node-to-workspace%25203%2520--focus-follows-window/Run%20Text%20as%20Shell%20Command'

        [[leaderMode.bindings.children.children]]
        key = '4'
        label = 'workspace 4'
        url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520move-node-to-workspace%25204%2520--focus-follows-window/Run%20Text%20as%20Shell%20Command'

        [[leaderMode.bindings.children.children]]
        key = '5'
        label = 'workspace 5'
        url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520move-node-to-workspace%25205%2520--focus-follows-window/Run%20Text%20as%20Shell%20Command'

        [[leaderMode.bindings.children.children]]
        key = '6'
        label = 'workspace 6'
        url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520move-node-to-workspace%25206%2520--focus-follows-window/Run%20Text%20as%20Shell%20Command'

        [[leaderMode.bindings.children.children]]
        key = '7'
        label = 'workspace 7'
        url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520move-node-to-workspace%25207%2520--focus-follows-window/Run%20Text%20as%20Shell%20Command'

        [[leaderMode.bindings.children.children]]
        key = '8'
        label = 'workspace 8'
        url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520move-node-to-workspace%25208%2520--focus-follows-window/Run%20Text%20as%20Shell%20Command'

        [[leaderMode.bindings.children.children]]
        key = 'c'
        label = 'workspace C'
        url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520move-node-to-workspace%2520C%2520--focus-follows-window/Run%20Text%20as%20Shell%20Command'

        [[leaderMode.bindings.children.children]]
        key = 'm'
        label = 'workspace M'
        url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520move-node-to-workspace%2520M%2520--focus-follows-window/Run%20Text%20as%20Shell%20Command'

        [[leaderMode.bindings.children.children]]
        key = 'p'
        label = 'Personal...'

            [[leaderMode.bindings.children.children.children]]
            key = '1'
            label = 'workspace P1'
            url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520move-node-to-workspace%2520P1%2520--focus-follows-window/Run%20Text%20as%20Shell%20Command'

            [[leaderMode.bindings.children.children.children]]
            key = '2'
            label = 'workspace P2'
            url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520move-node-to-workspace%2520P2%2520--focus-follows-window/Run%20Text%20as%20Shell%20Command'

            [[leaderMode.bindings.children.children.children]]
            key = '3'
            label = 'workspace P3'
            url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520move-node-to-workspace%2520P3%2520--focus-follows-window/Run%20Text%20as%20Shell%20Command'

            [[leaderMode.bindings.children.children.children]]
            key = '4'
            label = 'workspace P4'
            url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520move-node-to-workspace%2520P4%2520--focus-follows-window/Run%20Text%20as%20Shell%20Command'

    [[leaderMode.bindings.children]]
    key = 'f'
    label = 'fullscreen'
    url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520fullscreen/Run%20Text%20as%20Shell%20Command'

    [[leaderMode.bindings.children]]
    key = 'l'
    label = 'layout'

        [[leaderMode.bindings.children.children]]
        key = 't'
        label = 'tiles'
        url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520layout%2520tiles%2520horizontal%2520vertical/Run%20Text%20as%20Shell%20Command'

        [[leaderMode.bindings.children.children]]
        key = 'a'
        label = 'accordion'
        url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520layout%2520accordion%2520horizontal%2520vertical/Run%20Text%20as%20Shell%20Command'

        [[leaderMode.bindings.children.children]]
        key = 'f'
        label = 'float/tile'
        url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520layout%2520floating%2520tiling/Run%20Text%20as%20Shell%20Command'

    [[leaderMode.bindings.children]]
    key = 'r'
    label = 'mode resize'
    url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520mode%2520resize/Run%20Text%20as%20Shell%20Command'

    [[leaderMode.bindings.children]]
    key = 's'
    label = 'mode service'
    url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520mode%2520service/Run%20Text%20as%20Shell%20Command'

    [[leaderMode.bindings.children]]
    key = 'b'
    label = 'balance sizes'
    url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520balance-sizes/Run%20Text%20as%20Shell%20Command'

    [[leaderMode.bindings.children]]
    key = 'j'
    label = 'join with'

        [[leaderMode.bindings.children.children]]
        key = 'h'
        label = 'left'
        url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520join-with%2520left/Run%20Text%20as%20Shell%20Command'

        [[leaderMode.bindings.children.children]]
        key = 'j'
        label = 'down'
        url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520join-with%2520down/Run%20Text%20as%20Shell%20Command'

        [[leaderMode.bindings.children.children]]
        key = 'k'
        label = 'up'
        url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520join-with%2520up/Run%20Text%20as%20Shell%20Command'

        [[leaderMode.bindings.children.children]]
        key = 'l'
        label = 'right'
        url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520join-with%2520right/Run%20Text%20as%20Shell%20Command'

    [[leaderMode.bindings.children]]
    key = 'M'
    label = 'move window'

        [[leaderMode.bindings.children.children]]
        key = 'h'
        label = 'left'
        url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520move%2520--boundaries%2520all-monitors-outer-frame%2520left/Run%20Text%20as%20Shell%20Command'

        [[leaderMode.bindings.children.children]]
        key = 'j'
        label = 'down'
        url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520move%2520--boundaries%2520all-monitors-outer-frame%2520down/Run%20Text%20as%20Shell%20Command'

        [[leaderMode.bindings.children.children]]
        key = 'k'
        label = 'up'
        url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520move%2520--boundaries%2520all-monitors-outer-frame%2520up/Run%20Text%20as%20Shell%20Command'

        [[leaderMode.bindings.children.children]]
        key = 'l'
        label = 'right'
        url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520move%2520--boundaries%2520all-monitors-outer-frame%2520right/Run%20Text%20as%20Shell%20Command'

    [[leaderMode.bindings.children]]
    key = 'H'
    label = 'move to left monitor'
    url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520move-node-to-monitor%2520left%2520--focus-follows-window/Run%20Text%20as%20Shell%20Command'

    [[leaderMode.bindings.children]]
    key = 'L'
    label = 'move to right monitor'
    url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520move-node-to-monitor%2520right%2520--focus-follows-window/Run%20Text%20as%20Shell%20Command'

    [[leaderMode.bindings.children]]
    key = 'R'
    label = 'reload config'
    url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520reload-config/Run%20Text%20as%20Shell%20Command'

    [[leaderMode.bindings.children]]
    key = 'F'
    label = 'flatten tree'
    url = 'tuna://run/text.%252Fopt%252Fhomebrew%252Fbin%252Faerospace%2520flatten-workspace-tree/Run%20Text%20as%20Shell%20Command'

[settings]
themeIdentifier = 'com.brnbw.tuna.themes.default'
